/* .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 101px - 100px);
  margin-bottom: auto;
} */
.backgroundImage { 
  /* position: absolute; */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 196vh;
}
.mt-1 {
  font-weight: bolder;
  justify-content: flex-end;
  padding-left: clamp(0.5vw, 15vw, 25vw);
  padding-top: clamp(1vh, 1.5vh, 2vh);
  /* flex-wrap: nowrap !important; */
  min-width: 100%;
}

#teachLanguages {
  padding: 0 !important;
  color: #f17300;
  font-size: clamp(5px, 8vw, 55px);
  margin-left: clamp(1vw, 1vw, 2vw);
}
#learnMore {
  margin-top: 20vh !important;
  margin-left: clamp(6vw, 18vw, 22vw);
  color: #f17300;
}
.btn-outline{
  background-color: transparent;
  border-color: #f17300 !important;
}
.twitterContainer{
  max-width:100%;
}
.landingTitle h4{
  font-size: clamp(5px, 10vw, 60px);
  width: 100%;
}
.twitterRow{
  max-width: 100%;
  margin: 0;
}
.row{
  max-width: 100%;
}