.backgroundServices{
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: clamp(200vh, 50vh, 110vh); */
    height:max-content;
}
.servicesRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
    /* height: 30vh; */
}
.introText{
    padding-left: 5vw;
    text-shadow: 5px 5px 5px darkgrey;
    font-weight: 700;
}
.servicesText{
    display: flex;
    justify-content: center !important;
    padding-top: 5vh;
    font-weight: 900;
}
.paragraph{
    padding-top: 8vh;
    padding-left: 10vw;
    font-weight: bolder;
    text-shadow: 3px 3px 3px darkgrey;
    z-index: 1;
}
.servicesCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 95%;
    margin: 10vh 0 6vh 2vw !important;
    z-index: 1;
    height: clamp(auto, 70vh, 75vh);
}
.servicesIcon {
    display:flex;
    font-size: x-large;
}
.buttonCol{
    display: flex;
    justify-content: center;
    /* margin-top: clamp(auto, 5vh, 6vh); */
}
